@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model AppCrud.Models.Cliente
<div class="row">
	<div class="col-sm-8 offset-sm-2">
		<h2>
			Editar Cliente
		</h2>
		<form class="row" asp-controller="Cliente" asp-action="Editar" method="post">
			<input type="hidden" asp-for="Id"/>
			<label class="my-2 col-12">
				IdUsuario
				<input type="type" asp-for="IdUsuario" class="form-control" />
			</label>
			<label class="my-2 col-6">
				Direccion
				<input type="type" asp-for="Direccion" class="form-control" />
			</label>
			<label class="my-2 col-6">
				Telefono
				<input type="type" asp-for="Telefono" class="form-control" />
			</label>
			<label class="my-2 col-12">
				Sexo
				<select class="form-select" asp-for="Sexo">
					<option value="h">Hombre</option>
					<option value="m">Mujer</option>
				</select>
			</label>
			<label class="my-2 col-6">
				Tipo de sangre
				<select class="form-select" asp-for="TipoDeSangre">
					<option value="O+">O+</option>
					<option value="O-">O-</option>
					<option value="A+">A+</option>
					<option value="A-">A-</option>
					<option value="B+">B+</option>
					<option value="B-">B-</option>
					<option value="AB+">AB+</option>
					<option value="AB-">AB-</option>
				</select>
			</label>
			<label class="my-2 col-6">
				Eps
				<input type="type" asp-for="Eps" class="form-control" />
			</label>
			<label class="my-2 col-12">
				Activo
				<input type="checkbox" asp-for="Estado" class="form-check-input" />
			</label>
			<div class="my-2 col-12">
				<button type="submit" class="btn btn-primary">Guardar</button>
				<a asp-controller="Cliente" asp-action="Lista" class="btn btn-warning">Volver</a>
			</div>
		</form>

	</div>
</div>